/* Ebay Webfonts Paragraph */

@font-face {
    font-family: 'MarketSans-Regular-WebS';
    src:  url('webfont/MarketSans-Regular-WebS.woff2') format('woff2'),
          url('webfont/MarketSans-Regular-WebS.woff') format('woff'),
          url('webfont/MarketSans-Regular-WebS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MarketSans-Bold-WebS';
    src:url('webfont/MarketSans-Bold-WebS.woff2') format('woff2'),
          url('webfont/MarketSans-Bold-WebS.woff') format('woff'),
          url('webfont/MarketSans-Bold-WebS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Ebay Webfonts Titles */
  
  @font-face {
    font-family: 'MarketSans-Regular-WebXL';
      src:url('webfont/MarketSans-Regular-WebXL.woff2') format('woff2'),
          url('webfont/MarketSans-Regular-WebXL.woff') format('woff'),
          url('webfont/MarketSans-Regular-WebXL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
  }
  
  @font-face {
      font-family: 'MarketSans-Bold-WebXL';
      src:url('webfont/MarketSans-Bold-WebXL.woff2') format('woff2'),
          url('webfont/MarketSans-Bold-WebXL.woff') format('woff'),
          url('webfont/MarketSans-Bold-WebXL.ttf') format('truetype');
      font-weight: normal;
      font-style: normal; 
    }

    @font-face {
        font-family: 'ebi-icons';
        src:url('webfont/ebi-icons.woff2') format('woff2'),
            url('webfont/ebi-icons.woff') format('woff'),
            url('webfont/ebi-icons.ttf') format('truetype');
        font-weight: normal;
        font-style: normal; 
      }

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    /*color: #222;*/
	color:#111820;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'MarketSans-Regular-WebS';
}

a {
    color: #385898;
	text-decoration: none;
}

a:visited {
    color: #1b7db3;
}

a:hover {
    color: #385898;
	text-decoration: underline;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* Ordered List Default Styles */

ul {padding-inline-start: 24px;
	margin-top: .5em;
	font-family: 'MarketSans-Regular-WebS', Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.25em;}

ul li:marker{ font-size:1em; }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
    --e: cubic-bezier(0.19, 1, 0.22, 1);
	--ebay-b1: hsl(204, 87%, 88%);
    --ebay-b2: hsl(210, 100%, 79%);
    --ebay-b3: hsl(218, 100%, 70%);
    --ebay-b4: hsl(225, 89%, 58%);
    --ebay-b5: hsl(244, 86%, 55%);
    --ebay-b6: hsl(251, 85%, 37%);
    --ebay-b7: hsl(240, 66%, 21%);
    --ebay-t1: hsl(176, 65%, 85%);
    --ebay-t2: hsl(179, 67%, 67%);
    --ebay-t3: hsl(180, 75%, 45%);
    --ebay-t4: hsl(184, 98%, 34%);
    --ebay-t5: hsl(193, 99%, 28%);
    --ebay-t6: hsl(202, 77%, 24%);
    --ebay-t7: hsl(199, 100%, 14%);
}

:root {
    --space-unit: 1em;
    --space-xxxxs: calc(0.125 * var(--space-unit));
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs: calc(0.375 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));
    --component-padding: var(--space-md);
}

:root {
    --max-width-xxs: 32rem;
    --max-width-xs: 38rem;
    --max-width-sm: 48rem;
    --max-width-md: 64rem;
    --max-width-lg: 80rem;
    --max-width-xl: 90rem;
    --max-width-xxl: 120rem;
}

/* Grid Layout */

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .column {
    flex: 1;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}

.column {
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
}

/* Font Sizes */

h1, h2, h3, h4, h5, h6 {
  font-family: 'MarketSans-Bold-WebS', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  	font-size: 3em;
	line-height: 1.25em;
	}

h2 {
  	font-size: 2.25em;
	line-height: 1.25em;
	}

h3 {
  	font-size: 2em;
	line-height: 1.25em;
	}

h4 {
  	font-size: 1.75em;
	line-height: 1.25em;
	margin-bottom: 0;
}

h5 {
  	font-size: 1.5em;
	line-height: 1.25em;
	margin-bottom: 0;
}

h6 {
  	font-size: 1.25em;
	line-height: 1.25em;
	margin-bottom: 0;
}

p {
  	font-family: 'MarketSans-Regular-WebS', Helvetica, Arial, sans-serif;
      margin: 0 0 1rem 0;
      font-size: 1rem;
      line-height: 1.5rem;
}

p:last-child {
	margin-bottom: 20px;
}

.cta-arrow:after {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 1.2em;
    margin-left: 5px;
    transition: transform 0.3s ease;
  transform: translateX(0px);
}

.cta-arrow:after:hover
{
 transform: translateX(10px);
} 

a.cta-arrow {
    color: var(--ebay-t1);
    transition: transform 0.3s ease;
    transform: translateX(0px);
    cursor: pointer;
}

a.cta-arrow:hover
{
color: var(--ebay-t3);
 transform: translateX(10px);
 text-decoration: none;
} 

/* Page Structure */

/* Grid layout front cover */

.fc-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 2fr) 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 980px;
    }
    
.fc-div1 { 
    grid-area: 1 / 1 / 3 / 5; 
    background: var(--ebay-b7); 
    color: var(--ebay-t1)
}
.fc-div2 { grid-area: 3 / 1 / 4 / 3;  
    background: var(--ebay-t2);
    color: var(--ebay-b7);
    display: grid;
    place-items: center;
}

.fc-div3 { 
    grid-area: 3 / 3 / 4 / 4;  
    background: #659eff;
    color: #c2f2ef;
    display: grid;
    place-items: center;
}

.fc-div4 { 
    grid-area: 3 / 4 / 4 / 5;  
    background: #3665f3;
    color: #c2f2ef;
    display: grid;
    place-items: center;
}

.fc-div5 { 
    grid-area: 4 / 1 / 5 / 3;  
    background: #1dcbca;
    color: #121258;
    background-image: url(../img/cover-001.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

.fc-div6 { 
    grid-area: 4 / 3 / 5 / 5;  
    background: #382aef;
    color: #c2f2ef;
    display: grid;
    place-items: center;
} 

.fc-div1, .fc-div2, .fc-div3, .fc-div4, .fc-div5, .fc-div6 {
    padding: 4rem;
}

/* Grid layout back cover */
 
.bc-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 2fr) 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 980px;
    }
    
.bc-div1 { 
    grid-area: 1 / 1 / 3 / 5; 
    background: var(--ebay-b7); 
    color: var(--ebay-t1)
}
.bc-div2 { grid-area: 3 / 1 / 4 / 2;  
    background: #71e3e2;
    color: #121258;
    display: grid;
    place-items: center;}

.bc-div3 { 
    grid-area: 3 / 2 / 4 / 3;  
    background: #659eff;
    color: #c2f2ef;
    display: grid;
    place-items: center;
}

.bc-div4 { 
    grid-area: 4 / 1 / 5 / 3;  
    background: #3665f3;
    color: #c2f2ef;
    display: grid;
    place-items: center;
}

.bc-div5 { 
    grid-area: 3 / 3 / 5 / 5;  
    background: #1dcbca;
    color: #121258;
    display: grid;
    place-items: center;
    background-image: url(../img/cover-002.jpg);
    background-size: cover;
    background-position: center top;
}

.bc-div1, .bc-div2, .bc-div3, .bc-div4, .bc-div5 {
    padding: 4rem;
}

/* Title Styles */

.parent-title-001 {
    display: grid;
    grid-template-columns: 4fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .title-001-div1 { 
        grid-area: 1 / 1 / 3 / 2; 
        background: var(--ebay-t7);
        color: #fff;
    }
    .title-001-div1 h1 {
        font-size: 1.75rem;
    }

    .title-001-div2 { 
        grid-area: 1 / 2 / 3 / 3; 
        background: var(--ebay-t6);
    }
    .title-001-div3 { 
        grid-area: 1 / 3 / 2 / 4; 
        background: var(--ebay-t5);
    }
    .title-001-div4 { 
        grid-area: 2 / 3 / 3 / 4; 
        background: var(--ebay-t4);
    } 

    .title-001-div1, .title-001-div2, .title-001-div3, .title-001-div4, .title-001-div5 {
        padding: 1rem 1.75rem;
    }


.parent-title-002 {
    display: grid;
    grid-template-columns: 4fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .title-002-div1 { 
        grid-area: 1 / 1 / 3 / 2; 
        background: var(--ebay-b7);
        color: #fff;
    }
    .title-002-div1 h1 {
        font-size: 1.75rem;
    }

    .title-002-div2 { 
        grid-area: 1 / 2 / 3 / 3; 
        background: var(--ebay-b6);
    }
    .title-002-div3 { 
        grid-area: 1 / 3 / 2 / 4; 
        background: var(--ebay-b5);
    }
    .title-002-div4 { 
        grid-area: 2 / 3 / 3 / 4; 
        background: var(--ebay-b4);
    } 

    .title-002-div1, .title-002-div2, .title-002-div3, .title-002-div4, .title-002-div5 {
        padding: 1rem 1.25rem;
    }

.page-container {
	padding: 40px 40px;
	/* with border-box, padding is included in the  body's height/width */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Table of contents grid */

.parent-toc {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1-toc { grid-area: 1 / 1 / 3 / 2; }
    .div2-toc { grid-area: 1 / 2 / 2 / 3; }
    .div3-toc { grid-area: 2 / 2 / 3 / 3; } 

.parent-toc-01 {
    display: grid;
    grid-template-columns: 3fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    }
    
    
    .div1-toc-01 { 
        grid-area: 1 / 1 / 3 / 2;
        background: var(--ebay-t5); 
        display: grid;
        justify-content: left;
        align-items: center;
        color: var(--ebay-t1);
        padding: 2rem;
        }
    .div2-toc-01 { 
        grid-area: 1 / 2 / 2 / 3; 
        background: var(--ebay-t4);
        place-items: center;
    }
    .div3-toc-01 { 
        grid-area: 2 / 2 / 3 / 3; 
        background: var(--ebay-t3);
        place-items: center;
    }
    .div4-toc-01 { 
        grid-area: 1 / 3 / 3 / 4; 
        background: var(--ebay-t2);
        display: grid;
        place-items: center;
    } 


/* Image hover */

.parent-img-hvr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1-img-hvr  { 
        grid-area: 1 / 1 / 3 / 3; 
        background: var(--ebay-t7);
        display: grid;
    }
    .div2-img-hvr  { 
        grid-area: 4 / 2 / 6 / 4; 
        background: var(--ebay-t6);
        display: grid;
    }
    .div3-img-hvr  { 
        grid-area: 4 / 1 / 6 / 2; 
        background: var(--ebay-t5);
        display: grid;
    }
    .div4-img-hvr  { 
        grid-area: 1 / 3 / 3 / 4; 
        background: var(--ebay-t4);
        display: grid;
    }
    .div5-img-hvr  { 
        grid-area: 3 / 1 / 4 / 4; 
        background: var(--ebay-t3);
        display: grid;
        padding: 1rem;
    } 
    .c4-izmir figcaption {
        padding: 0.75em;
    }

.ebay-stat-number {
    position: relative;
    z-index: 200;
    display: flex;
    place-items: center;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.ebay-stat-number:hover {
    opacity: 0;
}

.c4-izmir { display: block; background: none;}

.ebay-stat-001 { font-size: 1.25rem;}

.stat-bold {
    font-family: 'MarketSans-Bold-WebXL';
}

.ebay-stat-number > h1 {
    margin-bottom: 0;
}

.ebay-stat-number > p {
    text-align: center;
}

.parent-new-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-bottom: 2rem;
    }
    
    .div1-new-skills { 
        grid-area: 1 / 1 / 3 / 3; 
        padding: 1rem;
        display: grid;
        place-items: center;
        background-image: url(../img/ebay-008.jpg);
        background-size: cover;
        background-position: center top;
    }
    .div2-new-skills { 
        grid-area: 1 / 3 / 2 / 4;
        display: grid;
        place-items: center;
        padding: 0;
        background: var(--ebay-b6);
        color:var(--ebay-b1) 
    }

    .div2-new-skills h1 {
        font-size: 4rem;
    }

    .div3-new-skills { 
        grid-area: 2 / 3 / 3 / 4; 
        display: grid;
        place-items: center;
        padding: 1rem;
        background: var(--ebay-b4);
        color:#ffffff;
    } 

.video-container {
    max-width: 600px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    min-height: 50%;
}



.page-container-no-pad {
	padding: 0;
	/* with border-box, padding is included in the  body's height/width */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text-lg {
    font-size: 1.35rem;
    font-weight: bold;
    color: var(--ebay-t5);
}

.text-x-lg {
    font-size: 2rem;
    font-weight: bold;
    color: var(--ebay-t5);
}

.img-container {
    margin-bottom: 0;
}
.main-title {
	position: relative;
	top: 0px;
	left: 0px;
}

.sub-title {
	position: relative;
	top: 0px;
	left: 0px;
}

.main-content {
	position: relative;
	top: 0px;
	left: 0px;
}

.front-cover {
	width:692px;
    height:980px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.front-cover-title-01{
	text-transform: uppercase;
	color: #e29400;
	font-size: 1.5rem;
	line-height: 1.5rem;
	letter-spacing: 0.175em;
}

.front-cover-title-02{
	font-size: 2.75em;
	line-height: 1.25em;
	letter-spacing: 0.05em;
	color: #ca3112;
	margin: 0;
}

.front-cover-title-02 span{
	color: #fdfada;
}

.back-cover { 
	background-color: #F1F4F7 !important;
}

.cover-title {
	margin: 20px auto;
	text-align: left;
	color: white;
	/*align-self: flex-start;*/
	flex: 1 1 auto;
}

.cover-title > span {
	height: auto;
	display: block;
	padding: 10px 0px; 
	margin-bottom: 60px;
}

.cover-title h1 {
	font-size: 2.5em;
	margin: 0;
	padding: 10px 0px; 
	color: #4e473d;
	text-align: left;
	letter-spacing: 2px;;
	
}

.cover-title p {
	font-size: 1.1em;
	line-height: 1.35em;
	margin: 0;
	padding: 10px 0px 40px 0; 
	color: #4e473d;
	text-align: left;
} 

.cover-title img {
	width: 100%;
	left:0;
}

.cover-logo {
	flex: 1 0 auto;
	align-items: center;
  justify-content: center;
}

.cover-logo > span {
	height: auto;
	display: flex;
	align-items: center;
    justify-content: center;
}
.cover-btm-logo {
	position: absolute;
    right: 24px;
    bottom: 12px;	
}

.cover-back-title {
	position: relative;
	top: 460px;
	margin: 0 auto;
	text-align: center;
	font-size: 2em;
	color: white;
	font-weight: 400;
	text-shadow: 2px 2px 4px rgba(31, 31, 31, 0.5);
	line-height: 0.9em;
}

.page-section-title {
	margin-bottom: 2rem;
}

.page-section-title span {
	font-size: .8em;
	text-transform: uppercase;
	font-family: 'Optimistic-Title-Medium', Helvetica, Arial, sans-serif;
	letter-spacing: .15em;
	margin-left: 1px;
}
.white-text {
	color: #ffffff;
}

/* Individual Pages */

.page-cont-01 {
	background: var(--ebay-t1);
    padding: 2rem;
    flex-grow: 1;
}

.page-cont-02 {
	background: var(--ebay-b1);
    padding: 2rem;
    flex-grow: 1;
}

.page-cont-03 {
	background: var(--ebay-t1);
    padding: 2rem;
    flex-grow: 1;
}
.page-cont-04 {
	background: var(--ebay-b1);
    flex-grow: 1;
}

.page-cont-05 {
	background: var(--ebay-b1);
    padding: 1rem;
    flex-grow: 1;
}

/* Padding */

.padding-top-sm {
	padding: 10px 0 0 0;
}

.padding-top-lg {
	padding: 40px 0 0 0;
}

.padding-btm-sm {
	padding: 0 0 10px 0;
}

.padding-btm-lg {
	padding: 0 0 40px 0;
}

.extra-padding-both {
	padding: 20px 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.wowbook-page-number {
	font-size: 0.7em;
}
/* ==========================================================================
   Hover Buttons: Adapted from https://github.com/IanLunn/Hover
   ========================================================================== */

[class^="hvr-"] {
  margin: 25px 0 0 0;
  padding: .65em;
  font-size: 1.25em;
  cursor: pointer;
  text-decoration: none;
	display: block;
	font-family: 'Optimistic-Text-light', Helvetica, Arial, sans-serif;

	color: #212525;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* Smooth fonts */
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="hvr-"]:hover {
	background: #e1e1e1;
}


/* ==========================================================================
   Custom css
   ========================================================================== */

body, html {
    height: 100%;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
}

body, html,
.wowbook-container {
    background: #e5e5e5;
}

/* hide book to avoid flash of unstyled content */
#book {
    margin-left: -10000px;
}

#book.wowbook {
    /* center horizontally */
    margin: auto;
}

.placeholder-img {
	width: 80%;
	padding: 40px;
	display: flex;
	align-items: center;
  justify-content: center;
	border: 4px solid #158dff;
	height: 200px;
	margin: 0 auto 80px auto;
}

.placeholder-img > span {
	flex-direction: column;
	text-align: center;
	
}

.callout {
	width: 80%;
	padding: 20px 40px;
	display: flex;
	align-items: center;
  justify-content: center;
	height: 140px;
	margin: 20px auto;
	 background: rgb(9,220,225);
	background: -moz-linear-gradient(45deg, rgba(9,220,225,1) 0%, rgba(5,190,167,1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(9,220,225,1) 0%, rgba(5,190,167,1) 100%);
	background: linear-gradient(45deg, rgba(9,220,225,1) 0%, rgba(5,190,167,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09dce1",endColorstr="#05bea7",GradientType=1); 
}

.callout > span {
	flex-direction: column;
	text-align: center;
}

.callout p {
	text-align: center;
	color: #ffffff;
}

.img-frame {
	margin: 15px 0;
	border: 1px solid rgba(133,133,133,0.4);
}

/* Newest JS Accordion */

.accordion {
  margin: 0 auto 2em auto;
  border-radius: 5px;
}

.accordion-header,
.accordion-body {
  background: white;
}

.accordion-header {
  padding: 1em 0.75em;
   background: var(--ebay-b5);
  cursor: pointer;
  transition: all .3s;
	color: #FFFFFF;
	font-size: 1.25rem;
	line-height: 1;
}

.accordion__item {
    border-bottom: 1px solid #ffffff;
}

.accordion__item .accordion__item {
  border-bottom: 1px solid #ffffff;
}

.accordion-header:hover {
    background: var(--ebay-b4);
	color: #F5F6F6;
  position: relative;
  z-index: 5;
}

.accordion-body {
  background: #FFFFFF;
  display: none;
	width: 100%;
}

.accordion-body__contents {
    padding: 1em 1.5em;
	/*line-height: 1.35em;
	font-size: 0.9em;*/
}

.accordion-body__contents p {
    margin: 0;
}

.accordion-body__contents li { 
	padding-bottom: 8px;
}
.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}
.accordion__item.active > .accordion-header:before {
  content: "\f207";
  transition: .3s all;
  /*transform: rotate(0deg);*/
}

.accordion__item > .accordion-header:before {
  content: "";
  font-family: IonIcons;
  font-size: 1.25em;
  float: right;
  position: relative;
  /*top: -8px;*/
  transition: .3s all;
  /*transform: rotate(0deg);*/
}

.accordion__item.active > .accordion-header:after {
  content: "";
  transition: .3s all;
  /*transform: rotate(0deg);*/
}
.accordion__item > .accordion-header:after {
  content: "\f216";
  font-family: IonIcons;
  font-size: 1.25em;
  float: right;
  position: relative;
 /* top: -8px;*/
  transition: .3s all;
  /*transform: rotate(0deg);*/
}


.accordion__item.active .accordion-header {
   background: var(--ebay-b7);
	color: #FFFFFF;
}

.accordion__item .accordion__item .accordion-header {
  background: #f1f1f1;
  color: #353535;
}


/*** Tabs ****/
.tabs {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.tabs label {
  -webkit-box-ordinal-group: 2;
  order: 1;
  display: block;
  padding: 0.5rem 2rem;
    margin-right: 1rem;
  cursor: pointer;
  background: #ffffff52;
 color: #155257 !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.tabs label:hover {
	border-top: 6px solid var(--ebay-t5) !important;
}

.tabs .tab {
    min-height: 72vh;
  -webkit-box-ordinal-group: 100;
          order: 99;
  -webkit-box-flex: 1;
          flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #ffffff;
	transition: all .3s ease-in-out;
	animation: fadeIn linear .3s;
	
}

@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}


.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  	color: #155257 !important;
      background: #ffffff;
	border-top: 6px solid var(--ebay-t4) !important;
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
	font-size: .9em;
}


/* Hover Cards */

.page-content {
  display: grid;
  grid-gap: 1rem;
 /* padding: 1rem;*/
  margin: 0 auto;
grid-template-columns: repeat(2, 1fr);
}

.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  /*width: 100%;*/
  text-align: left;
  background-color: whitesmoke;
 /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);*/
}
@media (min-width: 600px) {
  .card {
    height: 230px;
  }
}
.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}
.card-02:before {
  background-image: url("../img/toc-sec-01.jpg");
	background-size: cover;
	background-position: center;
}
.card:nth-child(2):before {
  background-image: url("../img/Elevate-D.jpg");
	background-size: cover;
	background-position: bottom 30px left 353px;
}
.card:nth-child(3):before {
  background-image: url("../img/Elevate-A.jpg");
	background-size: cover;
	background-position: center;
}
.card:nth-child(4):before {
  background-image: url("../img/Elevate-C.jpg");
	background-size: cover;
	background-position: center;
}

.content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
  color: #fff;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
	color: #fff;
}

.copy {
  font-size: 1.125rem;
  line-height: 1.35;
	color: #fff;
}

.btn-card {
  cursor: pointer;
  margin-top: 1.5rem;
  font-size: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  border-radius: 8px;
    color: #0a5780;
    border: 1px solid #465a69;
    padding: 12px 15px;
	font-family: 'Optimistic-Text-Bold';
}
.btn-card:hover {
  background: #0a5780;
    color: #a0d9f7;
}
.btn-card:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .content {
    -webkit-transform: translateY(calc(100% - 5rem));
            transform: translateY(calc(100% - 5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    -webkit-box-align: center;
            align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}

/* Hover Card #2 https://codepen.io/mkurapov/pen/qNQXxz */

.tile
{
  width:100%;
  height:250px;
  background-color:#e29400;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;

overflow:hidden;
	-webkit-backface-visibility: hidden;
  color:white;
  
}
.tile img
{
  height:100%;
  width:auto;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
	width: 100%;
}
.text:hover h1 {
	color: #623F00 !important;	
}
.text {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text a {color: #623F00}
.tile h1
{
 font-size: 1.1em;
	color: #000000;  
  margin:0;
}

.tile h2
{
  font-weight:100;
	font-size: .9em;
  margin:20px 0 0 0;
  text-transform: uppercase;
   transform: translateX(200px);
}
.tile p
{
  font-size: 0.9em;
  margin:20px 0 0 0;
  line-height: 1.5;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
	
}


.animate-text {
  opacity:0;
  transition: all 0.6s ease-in-out;
transform: translateX(-200px);
}

.tile:hover{
/*-webkit-transform: scale(1.05);
  transform:scale(1.05);*/
	background: #FFFADB !important;
color: #623F00 !important; 
}

.tile:hover img
{
  opacity: 0.1;
}

.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
	
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:#e29400;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    max-width:550px;
  }
}

.img-container-02 {
    margin-bottom: 1rem;
}

/* Slider adapted from https://codepen.io/zuraizm/pen/vGDHl */

  #slider {
    position: absolute;
    overflow: hidden;
    left: 60px;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: flex;
    float: left;
    margin: 0;
    padding: 0;
    width: 572px;
    height: 900px;
    align-items: center;
    flex-direction: column;
  }
  
  #slider ul li > span {
      padding: 1em 3em;
  }
  
  #slider ul li > span p {
    margin-top:0;
    font-size: 1.25rem;
    line-height: 2.5rem;
    padding: 0 0 1em 0;
    margin: 0;
}

  #slider ul li > span h3 {
      margin-top:0;
      font-size: 1.5rem;
      padding: 1em 0 1em 0;
      margin: 0;
  }
  
    a.control_prev, a.control_next {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: block;
    width: auto;
    height: auto;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.5;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 1.2s ease;
  }
  
  a.control_prev {
      left: 0%;
  }
  
  a.control_next {
      right: 0%;
  }
  
  a.control_prev:before {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 2.5rem;
    left: 0;
}
  
  a.control_next:before {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 2.5rem;}
  
/* Slider 02 */

#slider-02 {
    position: absolute;
    overflow: hidden;
    left: 60px;
  }
  
  #slider-02 ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider-02 ul li {
    position: relative;
    display: flex;
    float: left;
    margin: 0;
    padding: 0;
    width: 572px;
    height: 900px;
    align-items: center;
    flex-direction: column;
  }
  
  #slider-02 ul li > span {
      padding: 1em 3em;
  }
  
  #slider-02 ul li > span p {
    margin-top:0;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 0 0 1em 0;
    margin: 0;
}

  #slider-02 ul li > span h3 {
      margin-top:0;
      font-size: 1.5rem;
      padding: 1em 0 1em 0;
      margin: 0;
  }
  
    a.control_prev-02, a.control_next-02 {
    position: absolute;
    top: 35%;
    z-index: 10;
    display: block;
    width: auto;
    height: auto;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.5;
    cursor: pointer;
  }
  
  a.control_prev-02:hover, a.control_next-02:hover {
    opacity: 1;
    -webkit-transition: all 1.2s ease;
  }
  
  a.control_prev-02 {
      left: 0%;
  }
  
  a.control_next-02 {
      right: 0%;
  }
  
  a.control_prev-02:before {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 2.5rem;
    left: 0;
}
  
  a.control_next-02:before {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 2.5rem;}
 
/* Slider 03 */

#slider-03 {
    position: absolute;
    overflow: hidden;
    left: 60px;
  }
  
  #slider-03 ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider-03 ul li {
    position: relative;
    display: flex;
    float: left;
    margin: 0;
    padding: 0;
    width: 572px;
    height: 900px;
    align-items: center;
    flex-direction: column;
  }
  
  #slider-03 ul li > span {
      padding: 1em 3em;
  }
  
  #slider-03 ul li > span p {
    margin-top:0;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 0 0 1em 0;
    margin: 0;
}

  #slider-03 ul li > span h3 {
      margin-top:0;
      font-size: 1.5rem;
      padding: 1em 0 1em 0;
      margin: 0;
  }
  
    a.control_prev-03, a.control_next-03 {
    position: absolute;
    top: 35%;
    z-index: 10;
    display: block;
    width: auto;
    height: auto;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.5;
    cursor: pointer;
  }
  
  a.control_prev-03:hover, a.control_next-03:hover {
    opacity: 1;
    -webkit-transition: all 1.2s ease;
  }
  
  a.control_prev-03 {
      left: 0%;
  }
  
  a.control_next-03 {
      right: 0%;
  }
  
  a.control_prev-03:before {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 2.5rem;
    left: 0;
}
  
  a.control_next-03:before {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 2.5rem;}
  
/* Slider 04 */

#slider-04 {
    position: absolute;
    overflow: hidden;
    left: 60px;
  }
  
  #slider-04 ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider-04 ul li {
    position: relative;
    display: flex;
    float: left;
    margin: 0;
    padding: 0;
    width: 572px;
    height: 900px;
    align-items: center;
    flex-direction: column;
  }
  
  #slider-04 ul li > span {
      padding: 1em 3em;
  }
  
  #slider-04 ul li > span p {
    margin-top:0;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 0 0 1em 0;
    margin: 0;
}

  #slider-04 ul li > span h3 {
      margin-top:0;
      font-size: 1.5rem;
      padding: 1em 0 1em 0;
      margin: 0;
  }
  
    a.control_prev-04, a.control_next-04 {
    position: absolute;
    top: 35%;
    z-index: 10;
    display: block;
    width: auto;
    height: auto;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.5;
    cursor: pointer;
  }
  
  a.control_prev-04:hover, a.control_next-04:hover {
    opacity: 1;
    -webkit-transition: all 1.2s ease;
  }
  
  a.control_prev-04 {
      left: 0%;
  }
  
  a.control_next-04 {
      right: 0%;
  }
  
  a.control_prev-04:before {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 2.5rem;
    left: 0;
}
  
  a.control_next-04:before {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 2.5rem;}
  
/* Slider 05 */

#slider-05 {
    position: absolute;
    overflow: hidden;
    left: 60px;
  }
  
  #slider-05 ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider-05 ul li {
    position: relative;
    display: flex;
    float: left;
    margin: 0;
    padding: 0;
    width: 572px;
    height: 900px;
    align-items: center;
    flex-direction: column;
  }
  
  #slider-05 ul li > span {
      padding: 1em 3em;
  }
  
  #slider-05 ul li > span p {
    margin-top:0;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 0 0 1em 0;
    margin: 0;
}

  #slider-05 ul li > span h3 {
      margin-top:0;
      font-size: 1.5rem;
      padding: 1em 0 1em 0;
      margin: 0;
  }
  
    a.control_prev-05, a.control_next-05 {
    position: absolute;
    top: 35%;
    z-index: 10;
    display: block;
    width: auto;
    height: auto;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.5;
    cursor: pointer;
  }
  
  a.control_prev-05:hover, a.control_next-05:hover {
    opacity: 1;
    -webkit-transition: all 1.2s ease;
  }
  
  a.control_prev-05 {
      left: 0%;
  }
  
  a.control_next-05 {
      right: 0%;
  }
  
  a.control_prev-05:before {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 2.5rem;
    left: 0;
}
  
  a.control_next-05:before {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 2.5rem;}

/* Slider 06 */

#slider-06 {
    position: absolute;
    overflow: hidden;
    left: 60px;
  }
  
  #slider-06 ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider-06 ul li {
    position: relative;
    display: flex;
    float: left;
    margin: 0;
    padding: 0;
    width: 572px;
    height: 900px;
    align-items: center;
    flex-direction: column;
  }
  
  #slider-06 ul li > span {
      padding: 1em 3em;
  }
  
  #slider-06 ul li > span p {
    margin-top:0;
    font-size: 1.25rem;
    line-height: 2.5rem;
    padding: 0 0 1em 0;
    margin: 0;
}

  #slider-06 ul li > span h3 {
      margin-top:0;
      font-size: 1.5rem;
      padding: 1em 0 1em 0;
      margin: 0;
  }
  
    a.control_prev-06, a.control_next-06 {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: block;
    width: auto;
    height: auto;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.5;
    cursor: pointer;
  }
  
  a.control_prev-06:hover, a.control_next-06:hover {
    opacity: 1;
    -webkit-transition: all 1.2s ease;
  }
  
  a.control_prev-06 {
      left: 0%;
  }
  
  a.control_next-06 {
      right: 0%;
  }
  
  a.control_prev-06:before {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 2.5rem;
    left: 0;
}
  
  a.control_next-06:before {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 2.5rem;}

/* Slider 07 */

#slider-07 {
    position: absolute;
    overflow: hidden;
    left: 60px;
  }
  
  #slider-07 ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider-07 ul li {
    position: relative;
    display: flex;
    float: left;
    margin: 0;
    padding: 0;
    width: 572px;
    height: 900px;
    align-items: center;
    flex-direction: column;
  }
  
  #slider-07 ul li > span {
      padding: 1em 3em;
  }
  
  #slider-07 ul li > span p {
    margin-top:0;
    font-size: 1.25rem;
    line-height: 2.5rem;
    padding: 0 0 1em 0;
    margin: 0;
}

  #slider-07 ul li > span h3 {
      margin-top:0;
      font-size: 1.5rem;
      padding: 1em 0 1em 0;
      margin: 0;
  }
  
    a.control_prev-07, a.control_next-07 {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: block;
    width: auto;
    height: auto;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.5;
    cursor: pointer;
  }
  
  a.control_prev-07:hover, a.control_next-07:hover {
    opacity: 1;
    -webkit-transition: all 1.2s ease;
  }
  
  a.control_prev-07 {
      left: 0%;
  }
  
  a.control_next-07 {
      right: 0%;
  }
  
  a.control_prev-07:before {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 2.5rem;
    left: 0;
}
  
  a.control_next-07:before {
    font-family: "ebi-icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 2.5rem;}
  
 /* Tabs https://codepen.io/cssjockey/pen/jGzuK */

.tabs-02 {display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
	   -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

ul.tabs-02{
    margin: 0px;
    padding: 0px;
	width: 100%;
    list-style: none;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}


ul.tabs-02 li{
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
    margin: .5em 0;
    -webkit-transition: all .3s ease;
    transition: all .5s ease;
   background: var(--ebay-t5);
    }

ul.tabs-02 li.current{
    background: var(--ebay-b7) !important;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

ul.tabs-02 li:hover{
    background: var(--ebay-t6) !important;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}


.tab-content{
     display: none;
    opacity: 0;
	visibility: hidden;
	 -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s, visibility 0s ease 500ms;
}

.tab-content.current{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 830px;
	padding: 2em;
    opacity: 1;
	visibility: visible;
	 -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s, visibility 0s ease 0s;;
    }

.tab-content.current h3{
    font-size: 1.25em;
    }

.tab-content > p {
    margin-top: .5rem;
    margin-bottom: .5rem;
    line-height: 1.35;
}

.tab-content.current img {
	margin-bottom: 2.5rem}

.tabs-link {
    display: flex;
    justify-content: space-between;
	align-items: center;
    color: var(--ebay-b1);
}

.tabs-link.button:hover {
    text-decoration: none;
    color: var(--ebay-t1);
}
.button {
    padding: 3rem;
}
.button::after {
    font-family: 'ebi-icons';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
    content: "";
    font-size: 1.2em;
    font-variant: normal;
    text-decoration: none;
}

/* TOC */
.wowbook-toc a {
	color: white !important;}